<!--Header of the Homepage-->
  <%- include('../views/partials/header.ejs') %>
<!--End Header-->
        <main>
            <%- body  -%>
        </main>
  <%- include('../views/partials/footer.ejs') %>
