:root {
    --bs-font-sans-serif: 'Rubik', sans-serif;
  }
.container-xxl{ max-width: 1500px;}
body {
    background-color: rgb(243, 243, 243);
}

a { color: var(--bs-dark); }


/* Category Card*/
.category__link {
    text-align: center;
    display: block;
    text-decoration: none;
    transition: 250ms all;
}

.category__link:hover{
    transform: scale(1.1);
}

.category__img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 16);
    overflow: hidden;
    border-radius: 8px;
}
.category__img img{
    width: 100%;
    object-fit: cover;
}

.category__img--large{
    height: 150px;
}
.category__img--xlarge{
    height: 220px;
}
.links {
    display: block;
    text-align: center;
    padding: 14px;
    color: black;
    text-decoration: none;
    font-size: 25px;
 }
 .links:hover {
    background-color: rgb(100, 100, 100);
 }
 input[type="text"] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 8px;
    font-size: 17px;
 }
 .selected {
    background-color: rgb(58, 109, 181);
 }

 .star-rating{
    color: #bebebe;
    font-size:2em;
}
/*create the star*/
.my-star::before{
    content:"\002605";
}
/*remove the default style (italic) of the star*/
.my-star{
    font-style: unset;
}
/*set active star color*/
.is-active{
    color:#fb8900;
}
/*set color on hover*/
.my-star:not(.is-active):hover{
    color: #fb8900;
}